
#content1{
    margin-top: 5%;
}
#header{
    background-color: white;
}
#content2 {
    margin-bottom: 2% !important;
    margin-top: 10%;
}
#content4{
    margin-top: 3% !important;
}
.reset{
    padding: 0 !important;
    margin: 0 !important;
}
#content6{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5% !important;
}